@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova.ttf);
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url(../fonts/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: "ProximaNova-ExtraBold";
    src: url(../fonts/ProximaNova-ExtraBold.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    color: #542749;
    background-color: #000;
}

a{
    text-decoration: none;
}

.block1, .block2, .block3{
    /* display: none !important; */
}

.block1{
    background: url(../src/bg.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    max-width: 1920px;
    min-height: 981px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 70px;
}

.header .logo img{
    width: 100%;
}

.contacts{
    padding-top: 20px;
    padding-right: 10px;;
    font-size: 1.1em;
}

.contacts .tel{
    display:inline-block;
    padding-right: 40px;
    padding-bottom: 20px;
}

.contacts .email{
    display:inline-block;
    padding-bottom: 20px;
}

.contacts .tel a{
    color: #66af45;
}

.contacts .tel a::before{
    content: '';
    background: url(../src/tel.png) no-repeat;
    width: 15px;
    height: 15px;
    margin: 3px 6px;
    float: left; 
}

.contacts .email a{
    color: #66af45;
    
}

.contacts .email a::before{
    content: '';
    background: url(../src/email.png) no-repeat;
    width: 13px;
    height: 11px;
    margin: 5px 4px;
    float: left; 
}

.contacts .adress a{
    color: #66af45;
    font-size: 18px;
    padding-left: 28px;
}

.contacts .adress span{
    font-weight: 800;
}

.contacts .adress span::before{
    content: '';
    background: url(../src/metro.png) no-repeat;
    width: 21px;
    height: 15px;
    margin: 1px 3px;
    float: left; 
}

.container .content{
    display: flex;
    justify-content: space-between;
}

.container .content .left .date, .player{
    padding-left: 70px;
}

.container .content .left .date{
    color: #66af45;
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
}

.date .day{
    font-size: 83px;
    display: inline-block; 
}

.date .month{
    display: inline-block;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 28px;
}

.date .time{
    font-family: "ProximaNova", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.date .info{
    letter-spacing: 2px;
    font-size: 18px;
}

.container .content .left .description{
    padding: 30px 0px;
    font-family: "ProximaNova-ExtraBold", Arial, Helvetica, sans-serif;
}

.description .yoga{
    font-size: 100px;
    letter-spacing: 2px;
}

.description .inspiration{
    font-size: 40px;
    font-family: "ProximaNova", Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.container .content .left .player{
    font-size: 130px;
}

.player a, .player a:visited, .player a:active{
    color: #542749;
}

.player a:hover{
    color: #66af45;
}

.content .right .sendform{
    background-color: rgba(44, 76, 101, 0.4);
    width: 342px;
    padding: 35px;
    color: #fff;
    text-align: center;
}

.sendform_t1{
    font-weight: 700;
    font-size: 40px;
}

.sendform_t2{
    font-size: 22px;
    margin-bottom: 30px;
}

.tb{
    background-color: rgba(255, 255, 255, 0.8);
    width: 272px;
    border: none;
    padding: 20px;
    color: #839fb1;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.rb_container{
    width: 277px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 3px;
    max-height: 49px;
}

.rb{
    display: inline-block;
    text-align: left;
    width: 123px;
    border-radius: 21px;
    margin: 0px 5px;
    position: relative;
    left: -7px;
}

.rb input{
    display: none;
}

.rb label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    bottom: 8px;
    left: 58px;
}

.rb span{
    width: 20px;
    height: 20px;
    position: relative;
    width: 123px;
    height: 30px;
    border-radius: 21px;
    padding: 0px 0px 29px 137px;
}

input[type=radio]:checked + span{
    background-color: #fff;
    z-index: 1;
}

input[type=radio]:checked + span + label{
    color: #839fb1;
}

input[type=radio]:checked + span + label:before{
    display: block;
}

.rb label:before{
    display: none;
    content: '';
    width: 34px;
    height: 30px;
    margin: 1px -5px 0px -42px;
    float: left; 
}

.switch1 label:before{
    background: url(../src/switch1.png) no-repeat;
}

.switch2 label:before{
    background: url(../src/switch2.png) no-repeat;
}

.cb_container{
    padding: 30px 20px 24px 69px;
    margin: 0 auto;
}

.cb_container input{
    display: none;
}

.cb_container label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

.cb_container label:before { 
    background: url(../src/checkbox.png) no-repeat 0 -31px;
    cursor: pointer;
    content: '';
    width: 34px;
    height: 31px;
    margin: -1px 10px 0px -44px;
    float: left; 
}

input[type=checkbox]:checked + label:before{
    background: url(../src/checkbox.png) no-repeat 0 0;
}

.sendbtn button{
    border: none;
    cursor: pointer;
    background-color: #542749;
    color: #fff;
    width: 320px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
}

.sendbtn button:hover{
    background-color: #66af45;
}

.num_tb{
    padding: 16px 0px 9px 0px;
    font-size: 15px;
    font-weight: 600;
}

.social{
    color: #426176;
    margin: 8px auto;
    text-align: center;
}

.social span{
    font-size: 14px;
}

.scl_crcls a{
    margin: 0px 5px;
}

/* block 2 */

.block2{
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    /* display: inline-block; */
}

.block2 .content{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .block2 .content .bottom_line_left:before{
    content: '';
    position: absolute;
    border-bottom: 1px solid #d2cad5;
    width: 100%;
    bottom: -796px;
    left: -60%;
}

.block2 .content .bottom_line_right:before{
    content: '';
    position: absolute;
    border-bottom: 1px solid #d2cad5;
    width: 100%;
    bottom: -525px;
    float: right;
    right: -60%;
} */

.block2 .line1{
    height: 283px;
}

.block2 .line2{
    height: 272px;
}

.block2 .line3{
    height: 266px;
}

.block2 .line4{
    height: 143px;
}

.block2 .clear_block{
    width: 19.53%;
}

.block2 .block_1x{
    box-sizing:border-box;
    width:  33.34%; /*390px 20.31%;*/
    border: 1px solid #d2cad5;
    margin: -1px 0px 0px -1px;
    padding: 60px 61px;
}

.block_1x h4{
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    color: #66b045;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.block_1x p{
    font-size: 22px;
}

.block2 .block_2x{
    box-sizing:border-box;
    width: 66.66%; /*780px 40.63%*/
    border: 1px solid #d2cad5;
    margin: -1px 0px 0px -1px;
    padding: 36px 65px;
}

.block_2x h2{
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 63px;
    margin: 0;
}

.block_2x button{
    border: none;
    cursor: pointer;
    background-color: #542749;
    color: #fff;
    width: 305px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
}

.block_2x button:hover{
    background-color: #66af45;
}

.block_2x span{
    color: #66b045;
    display: inline-block;
    padding-left: 38px;
    vertical-align: middle;
    font-size: 17px;
}

/* end of block 2 */

/* block 3 */

.block3{
    margin: 0;
    width: 100%;
    max-width: 1920px;
    height: 691px;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block3 .left, .block3 .right{
    width: 50%;
    height: 691px;
}

.block3 .left{
    background: url(../src/lecture-l.jpg) no-repeat left top;
}


.block3 .right{
    background: url(../src/lecture-r.jpg) no-repeat right top;
}

.block3 .right .lecture4you_block{
    padding: 37px 45px;
    color: #fff;
    
}

.block3 .right .lecture4you_block h1{
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 47px;
}

.block3 .right .lecture4you_block div{
    padding-bottom: 20px;
    height: 125px;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 26px;
}

.block3 .right .lecture4you_block div::before{
    content: '';
    width: 125px;
    height: 125px;
    margin: 0px 37px 0px 11px;
    float: left; 
}

.block3 .right .lecture4you_block .lect4u_1::before{
    background: url(../src/lect4u-1.png) no-repeat;
}

.block3 .right .lecture4you_block .lect4u_2::before{
    background: url(../src/lect4u-2.png) no-repeat;
}

.block3 .right .lecture4you_block .lect4u_3::before{
    background: url(../src/lect4u-3.png) no-repeat;
}

/* end of block 3 */

/* block 4 */

.block4{
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 540px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block4 .left, .block4 .right{
    height: 516px;
}

.block4 .left{
    width: 32.86%;
    max-width: 631px;
    background-color: #dfdbe6;
}

.block4 .left img{
    position: relative;
    float: right;
    top: 102px;
    right: 26px;
}

.block4 .right{
    background-color: #f3ebf5;
    width: 67.14%;
    max-width: 1289px;
    
}

.block4 .right .intensive_block{
    padding: 34px 37px;
}

.block4 .right .intensive_block h1{
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-size: 44.5px;
    margin: 0px;
}

.block4 .right .intensive_block h2{
    font-size: 28px;
    line-height: 27px;
}

.block4 .right .intensive_block p{
    font-size: 18px;
    line-height: 23px;
    margin: 38px 0px;
}

.block4 .right .intensive_block .intensive_dates{
    width: 100%;
    max-width: 879px;
    border-top: 1px solid #66b045;
    padding-top: 5px;
    color: #66af45;
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block4 .right .intensive_block .intensive_dates .day{
    font-size: 83px;
    display: inline-block; 
    margin-right: 11px;
    
}

.block4 .right .intensive_block .intensive_dates .month{
    display: inline-block;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 28px;
}

.block4 .right .intensive_block .intensive_dates .time{
    font-family: "ProximaNova", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.block4 .right .intensive_block .learn_more{
    color: #542749;
    padding: 24px 0px;
    display: flex;
    align-items: center;
}

.block4 .right .intensive_block .learn_more button{
    border: none;
    cursor: pointer;
    background-color: #f3ebf5;
    color: #542749;
    border: 1px solid #542749;
    width: 305px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
}

.block4 .right .intensive_block .learn_more button:hover{
    background-color: #66b045;
    border: 1px solid #66b045;
    color: #fff;
}

.block4 .right .intensive_block .learn_more span{
    display: inline-block;
    padding-left: 50px;
    /* vertical-align: middle; */
    font-size: 17px;
}

/* end of block 3 */

/* footer */

.footer{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 80px;
    background-color: #542749;
    color: #fff;
}

.footer .footer_info{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}

.footer .footer_info a{
    color: #fff;
    text-decoration: underline;
}

/* end of footer */

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }

    .header{
        flex-direction: column;
        justify-content: flex-start;
        padding: 5% 5%;
        
        /* text-align: center; */
    }

    .contacts{
        padding-right: 0;
    }

    .contacts .email, .tel{
        display: block;
    }
}